.homeText{
    font-size: 35px;
    color: black;
    text-align: center;
    position: relative;
    top:30px;
    text-shadow: 2px 2px 2px gray;
}

.my-4 {
    font-size: 12px;
    color: black;
    text-align: center; 
}

.dark-mode .my-4 {
    color: white;
}

.dark-mode .homeText {
    color: white;
}

.dark-mode .modal-content {
    background-color: #3e3e3d;
    border-color: black;
    color: white;
}

.dark-mode .table {
    color: white;
}

.dark-mode .table-striped tbody tr:nth-of-type(even) {
    background-color: #3e3e3d !important;
}

.dark-mode .table-striped tbody tr:nth-of-type(odd) {
    background-color: #2C2C2EFF !important;
}

.dark-mode .table-hover tbody tr:hover {
    background-color: #5a5a5a;
}

.dark-mode .form-control {
    background-color: lightgray;
    border-color: lightgray;
    color: white;
}

.dark-mode .form-control:focus {
    background-color: lightgray;
    border-color: lightgray;
    color: white;
}

.dark-mode .page-item.active .page-link {
    background-color: #5a5a5a;
    border-color: #5a5a5a;
}

.dark-mode .page-item.disabled .page-link {
    background-color: lightgray;
    border-color: lightgray;
}

.dark-mode .card-body {
    background-color: #3e3e3d;
    color: white;
}
